{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Todo Detail - Todo Application{% endblock title %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock extra_styles %}

{% block content %}
  <main>
    <h2>Todo Detail</h2>
    <div class="todo-detail">

        <p>Todo ID: {{ todo.id }}</p>
        <p>Title: {{ todo.title }}</p>
        <p>Description: {{ todo.description }}</p>
        <p>Completed: {{ todo.completed }}</p>

        <!-- Add more details about the todo item here -->
        <p>
            <a href="{% url 'todo_list' %}">
                Home
            </a>
        </p>

    </div>
  </main>
{% endblock  %}


